/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 20px;
}

.file-input-label {
  display: block;
  background-color: #ff7c02;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.result {
  font-size: 18px;
  margin-top: 20px;
}

.highlight {
  color: #ff7c02; /* Cor azul para destaque */
  font-weight: bold;
}
